.vscode
build
index
release
debug
profiling
result
*.npy
gmon.out
benchmarks/sift1m
benchmarks/msong
benchmarks/glove25
benchmarks/nuswide
benchmarks/fasion_mnist_784
benchmarks/sift1b
benchmarks/deep1b
benchmarks/deep100m
benchmarks/data_4d_mean
benchmarks/HandOutlines
benchmarks/StarLightCurves
benchmarks/8d256s
benchmarks/8d512s
benchmarks/8d65536s
benchmarks/8d1048576s
benchmarks/16d65536s
analysis.txt
*.log
*workspace
logs/*.csv
/venv
/logs
__pycache__
/figures/*.png
benchmarks.zip